@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
html, body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h2 {
  font-family: 'Kaushan Script', serif;
}

body {
  display: -ms-grid;
  display: grid;
  background-color: #f7f6f5;
  color: #353535;
}

ul {
  list-style-type: none;
  margin-left: 0;
}

p {
  margin-bottom: 0;
}

img {
  width: 100%;
}

a {
  color: #353535;
  text-decoration: none;
}

nav {
  -ms-grid-row-align: center;
      align-self: center;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title button" "menu menu";
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
}

nav #title {
  padding: 0 15px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
}

nav #menu-button {
  padding: 0 15px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: right;
      justify-self: right;
  display: inline-block;
}

nav #menu-button .bar1, nav #menu-button .bar2, nav #menu-button .bar3 {
  width: 30px;
  height: 4px;
  margin: 6px 0;
  background-color: #353535;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

nav #menu-button.close .bar1 {
  -webkit-transform: rotate(-45deg) translate(-13px, 15px);
  transform: rotate(-45deg) translate(-7px, 7px);
}

nav #menu-button.close .bar2 {
  opacity: 0;
}

nav #menu-button.close .bar3 {
  -webkit-transform: rotate(45deg) translate(-13px, -15px);
  transform: rotate(45deg) translate(-7px, -7px);
}

nav #menu {
  background-color: rgba(255, 255, 255, 0.45);
  width: 100%;
  padding: 0 15px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: menu;
  display: none;
  -ms-grid-column-align: right;
      justify-self: right;
  text-align: right;
}

nav #menu li {
  padding: 10px 0;
}

nav #menu.visible {
  display: block;
}

main {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
}

main section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

main section .container {
  padding: 0 15px 20px 15px;
}

.center {
  text-align: center;
}

#menu_btn {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  padding: 10px 50px;
  margin-top: 18px;
  background-color: white;
  color: #353535;
  border: solid 1px #353535;
  border-radius: 30px;
}

#mapid {
  height: 200px;
}

.carousel-cell {
  width: 100%;
  height: 250px;
}

.main-carousel {
  margin-bottom: 50px;
}

#contact ul {
  text-indent: -1.2em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal .modal_content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

.modal .modal_content ul {
  list-style-type: disc;
  padding-left: 23px;
}

.modal .close {
  margin-top: -10px;
  float: right;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.desktop_img {
  display: none;
}

.phone_img {
  display: block;
}

footer {
  background-color: #353535;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "general" "copyright";
  -ms-grid-rows: 150px auto;
      grid-template-rows: 150px auto;
}

footer .footer_container {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: general;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer .footer_element {
  text-align: center;
  padding: 5px;
  margin-bottom: 15px;
}

footer .footer_element i {
  margin: 5px;
  vertical-align: middle;
  color: white;
}

footer a {
  color: white;
}

footer .copyright {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: copyright;
  color: white;
  background: #252525;
  font-size: 12px;
  text-align: center;
}

footer .copyright p {
  margin: 15px;
}

footer .copyright a {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .desktop_img {
    display: block;
  }
  .phone_img {
    display: none;
  }
  nav {
        grid-template-areas: "title menu";
    width: 100%;
    max-width: 1200px;
    -ms-grid-rows: 100px;
        grid-template-rows: 100px;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  nav #menu-button {
    display: none;
  }
  nav #menu {
    display: block;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    background-color: transparent;
  }
  nav #menu ul li {
    display: inline-block;
    padding: 0 15px;
    border-bottom: solid 2px transparent;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  nav #menu ul li:hover {
    border-bottom: solid 2px #367047;
  }
  main {
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  main section {
    padding-bottom: 20px;
  }
  main section .wide_img {
    height: 500px;
    width: 100%;
  }
  main section .container {
    max-width: 1200px;
    margin: auto;
  }
  main .carousel-cell {
    height: 800px;
  }
  #mapid {
    height: 500px;
  }
  footer {
    background-color: #353535;
    height: 200px;
  }
}
/*# sourceMappingURL=styles.css.map */